footer {
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    position: absolute;
    border-top: 1px solid #cccccc;
    bottom:0;
    align-items: centre;
    justify-content: center;
    display: flex;
}
