div.container {
  max-width: 1000px;
  margin: 30px auto;
  text-align: center;
  padding: 15px;
}
section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    position: relative;
}
.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    float: right;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}
.filters button:hover {
    opacity: 90%;
}
.locations {
    position: absolute;
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
    line-height: 100%;
}
