div.container {
  max-width: 1000px;
  margin: 30px auto;
  text-align: center;
}
section.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  position: relative;
}
section.filters button {
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  float: right;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
section.filters button:hover {
  opacity: 90%;
  }
div.locations {
    position: relative;
    height: 100%;
    width: 25%;
    text-align: left;
    order: o;
    border-right: 1px solid #DDDDDD;
    line-height: 100%;
}
.filters h3{
    padding-left: 50px;
    padding-top: 10px;
    font-weight: 600;
    margin: 5px;
}
.filters h4{
    font-weight: 400;
    font-size: 14px;
    margin: 5px;
    padding-left: 40px;
}
.popover {
    display: none;
    background-color: #FAFAFA;
    width: 292px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-left: -41px;
    margin-top: 13px;
    box-sizing: border-box;
}

.popover li {
    list-style-type: none;
}

.popover h2 {
    margin-bottom: 5px;
}

.popover ul {
    margin-top: 5px;
}

.locations .popover ul {
    padding-left: 20px;
}

.locations:hover .popover {
    display: block;
    padding-bottom: 18px;
}

.amenities:hover .popover {
    display: block;
}
