.container .places h1 {
    text-align:left;
    font-size: 30px;
    margin-left: 15px;
}

.container .places div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .places article {
    width: 390px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    float:inline-end;
    line-height: 50px;
    list-style-position: separate;

}

.container .places article h2 {
    font-size: 30px;
    text-align: center;
}
